<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<!--div class="main-block">
    <h4>Авторизация</h4>
    <form action="/login" method="post">
        Эл. почта: <input type="email" name="username"><br><br>
        Пароль: <input type="password" name="password"><br><br>
        <input type="submit" value="Вход"/>
    </form>
    <form action="/registration" method="get">
        <input type="submit" value="Зарегистрироваться"/>
    </form>

    <form action="/" method="get"><br>
        <input type="submit" value="На главную страницу"/>
    </form><br>
</div-->

<div class="main-block">
    <h4>Авторизация</h4>
    <form th:action="@{/login}" method="post">
        Эл. почта: <input type="email" th:name="username"><br><br>
        Пароль: <input type="password" th:name="password"><br><br>
        <input type="submit" value="Вход"/>
    </form>
    <form th:action="@{/registration}" method="get">
        <input type="submit" value="Зарегистрироваться"/>
    </form>
    <form th:action="@{/}" method="get"><br>
        <input type="submit" value="На главную страницу"/>
    </form><br>
</div>

</body>
</html>