<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/team/index">Команды</a>
                </li>
                <li>
                    <a href="/training/list">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournament/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<!--div class="main-block">
    <h4>Регистрация</h4>
    <form action="/registration" method="post">
        Эл. почта: <input type="email" name="email"><br><br>
        Имя: <input type="text" name="name"><br><br>
        Фамилия: <input type="text" name="surname"><br><br>
        Номер телефона: <input type="text" name="phoneNumber"><br><br>
        Пароль: <input type="password" name="password"><br><br>
        <input type="submit" value="Зарегистрироваться"/>
    </form>
<form action="/" method="get"><br>
    <input type="submit" value="На главную страницу"/>
</form><br>
</div-->

<div class="main-block">
    <h4>Регистрация</h4>
    <form th:action="@{/registration}" method="post">
        Эл. почта: <input type="email" th:name="email"><br>
        Имя: <input type="text" th:name="name"><br>
        Фамилия: <input type="text" th:name="surname"><br>
        Номер телефона: <input type="text" th:name="phoneNumber"><br>
        Пароль: <input type="password" th:name="password"><br>
        <input type="submit" value="Зарегистрироваться"/>
    </form>
    <form th:action="@{/}" method="get"><br>
        <input type="submit" value="На главную страницу"/>
    </form><br>
</div>

</body>
</html>