<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<div class="title-block">
    <h4>TOURNAMENT</h4>
</div>
<div class="main-block">
    <div th:object="${tournament}">
        <h5>Название:</h5>
        <p th:text="*{title}"></p>
        <h5>Описание:</h5>
        <p th:text="*{description}"></p>
        <h5>Дата проведения:</h5>
        <p th:text="*{date}"></p>
        <form th:action="@{/tournament/delete/{id}(id=${tournament.id})}" method="post">
            <input sec:authorize="hasAuthority('ROLE_ADMIN')" type="submit" value="Удалить"/>
        </form>
    </div>
</div>
</body>
</html>