<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="main-block">
        <h4>Панель администратора</h4>
        <table border="1">
            <thead>
            <tr>
                <th>Email</th>
                <th>Номер телефона</th>
                <th>Активность</th>
                <th>Роли</th>
                <th>Бан</th>
                <th>Подробная информация</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.active}"></td>
                <td>
                    <ul>
                        <li th:each="role : ${user.roles}" th:text="${role}"></li>
                    </ul>
                </td>
                <td>
                    <form th:action="@{/admin/user/ban/{userId}(userId=${user.id})}" method="post">
                        <input type="submit" value="Бан"></input>
                    </form>
                </td>
                <td>
                    <a th:href="@{/user/{user.id}(user.id=${user.id})}">
                        Подробная информация
                    </a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(users)}">
                <td colspan="7">
                    <h3>Пользователей нет</h3>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>