<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/teams/index">Команды</a>
                </li>
                <li>
                    <a href="/trainings/index">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournament/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<h4>Панель администратора</h4>
<table border="1">
    <thead>
    <tr>
        <th>Email</th>
        <th>Номер телефона</th>
        <th>Активность</th>
        <th>Роли</th>
        <th>Бан</th>
        <th>Подробная информация</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.email}" />
        <td th:text="${user.phoneNumber}" />
        <td th:text="${user.active}" />
        <td>
            <ul>
                <li th:each="role : ${user.roles}" th:text="${role}"></li>
            </ul>
        </td>
        <td>
            <form th:action="@{/admin/user/ban/{userId}(userId=${user.id})}" method="post">
                <button type="submit">Бан</button>
            </form>
        </td>
        <td>
            <a th:href="@{/user/{user.id}(user.id=${user.id})}">
                Подробная информация
            </a>
        </td>
    </tr>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="7">
            <h3>Пользователей нет</h3>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>