<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
  <div class="nav">
    <nav>
      <ul>
        <li>
          <a href="/other/about">О нас</a>
        </li>
        <li>
          <a href="/teams/index">Команды</a>
        </li>
        <li>
          <a href="/trainings/index">Тренировки</a>
        </li>
        <li>
          <a href="/news/list">Новости</a>
        </li>
        <li>
          <a href="/tournaments/list">Турниры</a>
        </li>
        <li>
          <a href="/other/disciplines">Дисциплины</a>
        </li>
        <li>
          <a href="/profile">Профиль</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<div class="title-block">
  <h4>Учетная запись пользователя</h4>
</div>
<div class="main-block">

  <div th:object="${user}">
    <table >
      <tr>
        <td class="right">Имя:</td>
        <td><p th:text="*{name}"></p></td>
      </tr>
      <tr>
        <td class="right">Фамилия:</td>
        <td><p th:text="*{surname}"></p></td>
      </tr>
      <tr>
        <td>Почта:</td>
        <td><p th:text="*{email}"></p></td>
      </tr>
      <tr>
        <td>Номер телефона:</td>
        <td><p th:text="*{phoneNumber}"></p></td>
      </tr>
      <tr>
        <td>Идентификатор:</td>
        <td><p th:text="*{identifier}"></p></td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>