<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<div class="main-block">
    <h3>Саратовский государственный технический университет имени Гагарина Ю.А.</h3>
    <h4>Киберспортивный клуб CYBERLAB</h4>
    <img src="/img/logo-dog.png" class="logo-img">
    <img src="/img/logo-title-white.png" class="logo-img">
</div>
</body>
</html>