<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="main-block">

        <div class="big-about-contacts-block">
            <h2>Руководитель клуба: <b>Иманбаев Ринат</b></h2>
            <h2>Заместитель руководителя клуба: <b>Коншенко Александр</b></h2>

            <div class="about-block">
                <img src="/img/map.png" width="30px" height="30px">
                <h3>5 корпус / комната 414</h3>
            </div>

            <div class="about-block">
                <img src="/img/phone.png" width="30px" height="30px">
                <h3>(8452) 99-87-15</h3>
            </div>

            <div class="about-block">
                <img src="/img/mail.png" width="30px" height="30px">
                <h3>cyberclub@sstu.ru</h3>
            </div>
            <div class="about-block">
                <img src="/img/clock.png" width="30px" height="30px">
                <h3>Время работы: 10:00-20:00</h3>
            </div>
        </div>
        <div class="big-about-block">
            <h4>Киберспорт — вид спорта, представляющий собой соревнования в
                виртуальном пространстве, которые моделируются компьютерными
                технологиями. В 2017 году студенты СГТУ имени Гагарина Ю.А. вышли
                с инициативой создания киберспортивного клуба и проведения
                киберспортивных мероприятий в стенах вуза, получив поддержку
                администрации университета. В том же году киберспортивный клуб
                СГТУ провел соревнования по компьютерному спорту среди студентов
                технического университета «КиберФест-2017». Соревнования вызвали
                большой интерес среди студенческого сообщества. На данный момент
                число спортсменов, входящих в клуб, превысило 400 человек, а сам
                клуб с 2020 года является ведущим студенческим киберспортивным
                сообществом области.
            </h4>
        </div>


    </div>
</div>

</body>
</html>