<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="main-block">
        <div class="title-block">DISCIPLINES</div>
        <div class="block-disc">
            <img src="/img/games/logo-dota2-yes.png">
            <div class="disc-decs">
                <h3>DOTA 2</h3>
                <h4>Сайт: <a href="https://www.dota2.com/home"><img src="/img/click.png"></a></h4>
            </div>

        </div>
        <div class="block-disc">
            <img src="/img/games/heart.png">
            <div class="disc-decs">
                <h3>HEARTHSTONE</h3>
                <h4>Сайт: <a href="https://hearthstone.blizzard.com/ru-ru"><img src="/img/click.png"></a></h4>
            </div>
        </div>
        <div class="block-disc">
            <img src="/img/games/logo-league-yes.png">
            <div class="disc-decs">
                <h3>LEAGUE OF LEGENDS</h3>
                <h4>Сайт: <a href="https://www.leagueoflegends.com/ru-ru/"><img src="/img/click.png"></a></h4>
            </div>
        </div>
        <div class="block-disc">
            <img src="/img/games/logo-valorant-yes.png">
            <div class="disc-decs">
                <h3>VALORANT</h3>
                <h4>Сайт: <a href="https://playvalorant.com/"><img src="/img/click.png"></a></h4>
            </div>
        </div>
        <div class="block-disc">
            <img src="/img/games/brawl.png">
            <div class="disc-decs">
                <h3>BRAWL STARS</h3>
                <h4>Сайт: <a href="https://event.brawlstars.com/ru/"><img src="/img/click.png"></a></h4>
            </div>
        </div>
    </div>
</div>

</body>
</html>