<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/teams/index">Команды</a>
                </li>
                <li>
                    <a href="/trainings/index">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournaments/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="main-block">
<form th:action="@{/news/create}" method="post" enctype="multipart/form-data">
    Название: <input type="text" th:name="title"/><br><br>
    Описание: <input type="text" th:name="description"/><br><br>
    <input type="submit" value="Опубликовать"/>
</form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Вернуться назад"/>
</form>
</div>
</body>
</html>