<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>НОВОСТИ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/team/index">Команды</a>
                </li>
                <li>
                    <a href="/training/list">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournament/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="title-block">
    <h4>LIST OF NEWS</h4>
</div>
<div class="admin-block">
    <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/news/create">Добавить </a>
</div>
<div class="main-block">

    <div class="two-block">
        <div th:if="${news}" th:each="news : ${news}" class="block">
            <p><b th:text="${news.title}"></b> <span th:text="${news.description}"></span></p>
            <form th:action="@{/news/{id}(id=${news.id})}" method="get">
                <input type="submit" th:value="'Подробнее'"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>