<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/teams/index">Команды</a>
                </li>
                <li>
                    <a href="/trainings/index">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournaments/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="title-block">
    <h4>Ваша учетная запись</h4>
</div>
<div class="main-block">

    <div th:object="${user}">
        <table >
            <tr>
                <td class="right">Имя:</td>
                <td><p th:text="*{name}"></p></td>
            </tr>
            <tr>
                <td class="right">Фамилия:</td>
                <td><p th:text="*{surname}"></p></td>
            </tr>
            <tr>
                <td>Почта:</td>
                <td><p th:text="*{email}"></p></td>
            </tr>
            <tr>
                <td>Номер телефона:</td>
                <td><p th:text="*{phoneNumber}"></p></td>
            </tr>
            <tr>
                <td>Идентификатор:</td>
                <td><p th:text="*{identifier}"></p></td>
            </tr>
        </table>
        <form th:action="@{/}" method="get">
            <input type="submit" value="Вернуться назад"/>
        </form>
        <div th:if="${user != null}">
            <form th:action="@{/logout}" method="post">
                <button type="submit">Выйти</button>
            </form>
        </div>
        <div th:if="${user.isAdmin()}">
            <form th:action="@{/admin}" method="get">
                <input type="submit" value="Панель администратора">
            </form>
        </div>
    </div>
</div>
</body>
</html>