@font-face {
    font-family: Exo;
    src: url("../fonts/Exo2-Regular.ttf");
}
@font-face {
    font-family: Press;
    src: url("../fonts/PressStart2P-Regular.ttf");
}
:root{
    --exo: Exo, sans-serif;
    --press: Press, sans-serif;
}

*{
    margin: 0 auto;
    padding: 0;
}

body{
    font-size: 15px;
    background-image: linear-gradient(-45deg, #FF00F5 60%, black 25%, #78FEFF 41%, black 100%);
    background-size: 300% 300%;
    color: white;
    width: 100%;
    height: 100vh;
    font-family: Mont, sans-serif;
}
.title-block{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: linear-gradient(45deg, #78FEFF, #1529E3);
    background-clip: text;
    margin: 15px;
    padding: 15px;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
    font-family: var(--press);
}
.admin-block{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.main-block{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    font-family: var(--exo);
}
.logo-img{
    width: 20%;
    height: 10%;
}

.block{
    margin: 15px;
    padding: 15px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #78FEFF, #1529E3) 1;
}

nav ul{
    display:flex;
    flex-direction:row;
    list-style:none;
    justify-content: space-around;
    font-family: var(--exo);
}
nav li{
    margin:0px 50px;

}
footer{
    background: linear-gradient(45deg, #78FEFF, #1529E3);
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 99%;
}
a{
    text-decoration:none;
    color: white;
    transition:500ms;
}
a:hover{
    background: linear-gradient(45deg, #78FEFF, #1529E3);
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
}

nav li a{
    text-decoration:none;
    color: white;
    transition:500ms;
}
nav li a:hover{
    background: linear-gradient(45deg, #78FEFF, #1529E3);
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
}
img{
    width: 35px;
    height: 35px;
}
.block img{
    height: 20%;
    width: 20%;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: #78FEFF;
    font-size: 25px;
    color: black;
    border-radius: 10px;
}
