@font-face {
    font-family: Exo;
    src: url("../fonts/Exo2-Regular.ttf");
}
@font-face {
    font-family: Press;
    src: url("../fonts/PressStart2P-Regular.ttf");
}
:root{
    --exo: Exo, sans-serif;
    --press: Press, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    /* background-color: #131313; */
    background: radial-gradient(circle at 300px -100px, #850a80 , #131313 900px),
    radial-gradient(circle at 2000px 1400px, #448585 , #131313 1000px);
    color: white;
    height: 3500px;
    font-family: Mont, sans-serif;
}

.title-block{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    background-clip: text;
    margin: 15px;
    padding: 15px;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
    font-family: var(--press);
}
.admin-block{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.main-block{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    font-family: var(--exo);
}

.logo-img{
    width: 20%;
    height: 10%;
}

.block{
    margin: 15px;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #78FEFF, #1312ff) 1;
}

/* тут добавила */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 375px 10px;
}

.header{
    display: flex;
    flex-direction: row;
}

.navbar{
    width: 800px;
    height: 30px;
    margin-top: 20px;
    margin-left: 200px;
}

nav ul li{
    margin: 0;
    padding: 0;
    height: 30px;

}

nav ul li a{
    vertical-align: middle;
}

.logo{
    height: 71px;
    width: 170px;
}

.profile_icon{
    width: 30px;
    height: 30px;
}

.trnmnt{
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: 475px;
    font-family: var(--exo);
}

.trnmnt_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
    padding-top: 140px;
    margin-right: 60px;
}

.trnmnt_banner{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 640px;
    height: 475px;
}

h1{
    font-size: 48px;
    color: white;
    font-family: var(--press);
}

/* и в некоторых частях уже написанных тоже поменяла куски вот так вот пупипу */

nav ul{
    display:flex;
    flex-direction:row;
    list-style:none;
    justify-content: space-between;
    font-family: var(--exo);
}

footer{
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 99%;
}
a{
    text-decoration:none;
    color: white;
    transition:500ms;
}
a:hover{
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
}

nav li a{
    text-decoration:none;
    color: white;
    transition:500ms;
}
nav li a:hover{
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
}

.block img{
    height: 20%;
    width: 20%;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: #78FEFF;
    font-size: 25px;
    color: black;
    border-radius: 10px;
}
