@font-face {
    font-family: Exo;
    src: url("../fonts/Exo2-Regular.ttf");
}
@font-face {
    font-family: Press;
    src: url("../fonts/PressStart2P-Regular.ttf");
}
:root{
    --exo: Exo, sans-serif;
    --press: Press, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    /* background-color: #131313; */
    background: radial-gradient(circle at 300px -100px, #850a80 , #131313 900px),
    radial-gradient(circle at 2000px 1400px, #448585 , #131313 1000px);
    color: white;
    min-height: 100vh;
    font-family: Mont, sans-serif;
}

.title-block{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
    color: white;
    font-size: 30px;
    font-family: var(--press);
}
.admin-block{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.about-block{
    display: flex;
}
.big-about-contacts-block{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    margin: 10px;
}
.big-about-block{
    padding: 10px;
    margin: 10px;
}

.main-block{
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    font-family: var(--exo);
}

.logo-img{
    width: 20%;
    height: 10%;
}

.block{
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #78FEFF, #1312ff) 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* тут добавила */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 375px 10px;
}

.header{
    display: flex;
    flex-direction: row;
}

.navbar{
    width: 800px;
    height: 30px;
    margin-top: 20px;
    margin-left: 200px;
}

nav ul li{
    margin: 0;
    padding: 0;
    height: 30px;

}

nav ul li a{
    vertical-align: middle;
}

.logo{
    height: 71px;
    width: 170px;
}

.profile_icon{
    width: 30px;
    height: 30px;
}

.trnmnt{
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: 500px;
    font-family: var(--exo);
}

.trnmnt_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 470px;
    padding-top: 140px;
    margin-right: 60px;
}

.trnmnt_banner{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 640px;
    height: 500px;
}

.banner-img{
    height: 460px;
}

h1{
    font-size: 48px;
    color: white;
    font-family: var(--press);
}

/* и в некоторых частях уже написанных тоже поменяла куски вот так вот пупипу */

nav ul{
    display:flex;
    flex-direction:row;
    list-style:none;
    justify-content: space-between;
    font-family: var(--exo);
}

a{
    text-decoration:none;
    color: white;
    transition:500ms;
}
a:hover{
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
}

nav li a{
    text-decoration:none;
    color: white;
    transition:500ms;
}
nav li a:hover{
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */
    color: transparent;
}

.block img{
    height: 20%;
    width: 20%;
}

button{
    padding: 5px;
    margin: 5px;
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    background-clip: text;
    -webkit-background-clip: text; /* добавляем для Safari */

    font-size: 15px;
    color: white;
    border-radius: 10px;
    font-family: var(--press);
}
input{
    padding: 5px;
    margin: 5px;
    background: linear-gradient(45deg, #78FEFF, #1312ff);
    font-size: 15px;
    color: white;
    border-radius: 10px;
    font-family: var(--press);
}

.liga{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 1170px;
    justify-content: space-between;
}

.liga-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 568px;
    height: 298px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #78FEFF, #1312ff) 1;
    font-family: var(--press);
}

.cyberdog{
    width: 165px;
}

.cyberpup{
    width: 210px;
}

.liga-block h3{
    font-size: 38px;
    padding-top: 16px;
}

.news-block {
    margin-top: 90px;
    width: 1170px;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.news-block h4{
    font-size: 25px;
    text-align: center;
}
footer{
    background: linear-gradient(#131313, #1312ff);
    height: 300px;
}

.footer-block{
    margin: 70px 375px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family: var(--exo);
}

.contacts{
    display: flex;
    flex-direction: row;
    width: 240px;
    justify-content: space-between;
}

.contacts img{
    height: 70px;
}

.sponsors{
    margin: 75px 0px;
    width: 1170px;
}

.sponsors-logo{
    margin: 30px auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.bottom{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block-disc{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
}

.disc-decs{
    margin-left: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-disc img{
    height: 100px;
}
.disc-decs img{
    height: 30px;
    width: 30px;
}




