<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>

<div class="main-block">
    <div class="trnmnt">
        <div class="trnmnt_info" th:object="${latestTournament}">
            <h1>ТУРНИР</h1>
            <h3 th:text="*{title}"></h3>
            <h4 th:text="*{place}"></h4>
            <h5 th:text="*{date}"></h5>

            <form th:action="@{/tournament/subscribe}" method="get">
                <input type="submit" th:value="'регистрация'">
            </form>


        </div>
        <div class="trnmnt_banner">
            <img src="/img/filler.png">
            <form th:action="@{/tournament/{id}(id=${latestTournament.id})}" method="get">
                <input type="submit" th:value="'подробнее'"/>
            </form>
        </div>
    </div>

    <div class="liga">
        <a href="/">
            <div class="liga-block">
                <h3>ЛИГА СТУДЕНТОВ</h3>
                <p>киберпсы</p>
                <img src="/img/bigdog.png">
            </div>
        </a>

        <a href="/">
            <div class="liga-block">
                <h3>ЛИГА ШКОЛЬНИКОВ</h3>
                <p>киберщенки</p>
                <img src="/img/babydog.png">
            </div>
        </a>

    </div>

    <div class="title-block"><p>новости</p></div>
    <div>
        <ul th:each="n : ${latestNews}">
            <div class="block">
                <h4 th:text="${n.title}"></h4>
                <h3 th:text="${n.description}"></h3>
                <form th:action="@{/news/{id}(id=${n.id})}" method="get">
                    <input type="submit" th:value="'подробнее'"/>
                </form>
            </div>
        </ul>
    </div>

</div>


<div class="sponsors">
</div>
<footer>
<p>Ths is footer</p>
</footer>
</body>
</html>