<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="head">
  <div class="nav">
    <nav>
      <ul>
        <li>
          <a href="/"><img src="/img/home-icon.png"></a>
        </li>
        <li>
          <a href="/other/about">О нас</a>
        </li>
        <li>
          <a href="/team/index">Команды</a>
        </li>
        <li>
          <a href="/training/list">Тренировки</a>
        </li>
        <li>
          <a href="/news/list">Новости</a>
        </li>
        <li>
          <a href="/tournament/list">Турниры</a>
        </li>
        <li>
          <a href="/other/disciplines">Дисциплины</a>
        </li>
        <li>
          <a href="/profile"><img src="/img/profile.png"></a>
        </li>
      </ul>
    </nav>

  </div>
</div>
<div class="main-block">
  <div th:object="${user}">
    <table >
      <tr>
        <td class="right">Имя:</td>
        <td><p th:text="*{name}"></p></td>
      </tr>
      <tr>
        <td class="right">Фамилия:</td>
        <td><p th:text="*{surname}"></p></td>
      </tr>
      <tr>
        <td>Почта:</td>
        <td><p th:text="*{email}"></p></td>
      </tr>
      <tr>
        <td>Номер телефона:</td>
        <td><p th:text="*{phoneNumber}"></p></td>
      </tr>
      <tr>
        <td>Идентификатор:</td>
        <td><p th:text="*{identifier}"></p></td>
      </tr>
      <tr>
        <td>ID TEAM:</td>
        <td><p th:text="${team.id}"></p></td>
      </tr>
      <tr>
        <td>ID USER:</td>
        <td><p th:text="${user.id}"></p></td>
      </tr>
    </table>

    <form th:action="@{/team/{team_id}/add-participant/{user_id}(team_id=${team.id}, user_id=${user.id})}" method="post">
      <input type="hidden" name="team_id" th:value="${team.id}"/>
      <input type="submit" value="Добавить участника в эту команду"/>
    </form>

    <!-- ЗДЕСЬ ПРОБЛЕМА -- НЕ НАХОДИТ КОМАНДУ  -->
    <!--form th:action="@{/team/{team_id}/add-participant/{user_id}(team_id=${team.id})(user_id=${user.id})}" method="post">
      <input type="hidden" name="team_id" th:value="${team.id != null ? team.id : ''}">
      <button type="submit">Добавить участника в только что созданную команду</button>
    </form-->


    <!--form th:action="@{/team/{team_id}/add-participant/{user_id}(team_id=${team_id})(user_id=${user.id})}" method="post">
      <input type="hidden" name="team_id" th:value="${team_id}">
      <button type="submit">Добавить участника в только что созданную команду</button>
    </form-->
    <!--form th:action="@{/team/add-participant}" method="post">
      <input type="text" name="identifier" placeholder="Идентификатор участника">
      <input type="hidden" name="team_id" th:value="${team.id != null ? team.id : ''}">
      <button type="submit">Добавить участника в только что созданную команду</button>
    </form-->
  </div>
</div>

</body>
</html>