<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div class="container">
  <div class="header">
    <a href="/"><img src="/img/logo1.png" class="logo"></a>
    <div class="navbar">
      <nav>
        <ul>
          <li>
            <a href="/other/about">о нас</a>
          </li>
          <li>
            <a href="/team/index">команды</a>
          </li>
          <li>
            <a href="/training/list">тренировки</a>
          </li>
          <li>
            <a href="/news/list">новости</a>
          </li>
          <li>
            <a href="/tournament/list">турниры</a>
          </li>
          <li>
            <a href="/other/disciplines">дисциплины</a>
          </li>
          <li>
            <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
<div class="main-block">
  <div th:object="${user}">
    <table >
      <tr>
        <td class="right">Имя:</td>
        <td><p th:text="*{name}"></p></td>
      </tr>
      <tr>
        <td class="right">Фамилия:</td>
        <td><p th:text="*{surname}"></p></td>
      </tr>
      <tr>
        <td>Почта:</td>
        <td><p th:text="*{email}"></p></td>
      </tr>
      <tr>
        <td>Номер телефона:</td>
        <td><p th:text="*{phoneNumber}"></p></td>
      </tr>
      <tr>
        <td>Идентификатор:</td>
        <td><p th:text="*{identifier}"></p></td>
      </tr>
      <tr>
        <td>ID TEAM:</td>
        <td><p th:text="${team.id}"></p></td>
      </tr>
      <tr>
        <td>ID USER:</td>
        <td><p th:text="${user.id}"></p></td>
      </tr>
    </table>

    <form th:action="@{/team/{team_id}/add-participant/{user_id}(team_id=${team.id}, user_id=${user.id})}" method="post">
      <input type="hidden" name="team_id" th:value="${team.id}"/>
      <input type="submit" value="Добавить участника в эту команду"/>
    </form>

  </div>
</div>

</body>
</html>