<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<table >
  <tr>
    <th>Идентификатор</th>
    <th>ID пользователя</th>
    <th>Автомобиль</th>
    <th>Дата</th>
    <th>Количество дней аренды</th>

  </tr>
  <tr>
    <td th:utext="${user.id}">...</td>
    <td th:utext="${user.email}">...</td>
    <td th:utext="${user.name}">...</td>
    <td th:utext="${user.surname}">...</td>
    <td th:utext="${user.identifier}">...</td>

  </tr>
</table>
</body>
</html>