<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/team/index">Команды</a>
                </li>
                <li>
                    <a href="/training/list">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournament/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="main-block">
    <!--form th:action="@{/team/create}" th:object="${team}" method="post">

    </form-->

    <!--form method="post" th:action="@{/team/create}" enctype="multipart/form-data">
        <label>Название команды:</label>
        <input type="text" th:field="*{team.title}">
        <br>
        <label>Участники:</label>
        <form action="/user/find" method="get">
            <label for="identifier">Идентификатор</label>
            <input id="identifier" type="text" name="identifier">
            <button type="submit">Найти</button>
        </form>

        <input type="submit" value="Создать команду"/>
    </form-->

    <form method="post" th:action="@{/team/create}" enctype="multipart/form-data">
        <label>Название команды:</label>
        <br><br>
        <input type="text" th:field="*{team.title}">
        <br><br>
        <label>Описание команды (девиз и так далее):</label>
        <br><br>
        <input type="text" th:field="*{team.description}">
        <br><br>
        <label>Количество участников</label>
        <br><br>
        <input type="number" th:field="*{team.quantity}">
        <br><br>
        <button type="submit">Создать команду</button>
    </form>
    <!-- Рабочая штука по поиску участника по идентификатору -->
    <!--label>Участники:</label>
    <form action="/team/changeStatus" method="get">
        <label for="identifier">Идентификатор</label>
        <input id="identifier" type="text" name="identifier">
        <button type="submit">Найти</button>
    </form-->

</div>
</body>
</html>