<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<div class="main-block">

    <form method="post" th:action="@{/team/create}" enctype="multipart/form-data">
        <label>Название команды:</label>
        <br><br>
        <input type="text" th:field="*{team.title}">
        <br><br>
        <label>Описание команды (девиз и так далее):</label>
        <br><br>
        <input type="text" th:field="*{team.description}">
        <br><br>
        <label>Количество участников</label>
        <br><br>
        <input type="number" th:field="*{team.quantity}">
        <br><br>
        <input type="submit" value="Создать команду"></input>
    </form>

    <!-- Рабочая штука по поиску участника по идентификатору -->
    <!--label>Участники:</label>
    <form action="/team/changeStatus" method="get">
        <label for="identifier">Идентификатор</label>
        <input id="identifier" type="text" name="identifier">
        <button type="submit">Найти</button>
    </form-->

</div>
</body>
</html>