<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/team/index">Команды</a>
                </li>
                <li>
                    <a href="/training/list">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournament/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="main-block">
  <label>Участники:</label>
    <!-- РАБОТАЕТ -->
    <!--form th:action="@{/team/changeStatus}" method="get">
        <label for="identifier">Идентификатор</label>
        <input id="identifier" type="text" name="identifier">
        <button type="submit">Найти</button>
    </form-->

    <form th:action="@{/team/changeStatus}" method="get">
        <label for="identifier">Идентификатор</label>
        <input id="identifier" type="text" name="identifier">

        <input type="hidden" name="team_id" th:value="${team.id}">

        <p th:text="${team.id}"></p>
        <button type="submit">Найти</button>
    </form>

</div>
</body>
</html>