<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
  <div class="header">
    <a href="/"><img src="/img/logo1.png" class="logo"></a>
    <div class="navbar">
      <nav>
        <ul>
          <li>
            <a href="/other/about">о нас</a>
          </li>
          <li>
            <a href="/team/index">команды</a>
          </li>
          <li>
            <a href="/training/list">тренировки</a>
          </li>
          <li>
            <a href="/news/list">новости</a>
          </li>
          <li>
            <a href="/tournament/list">турниры</a>
          </li>
          <li>
            <a href="/other/disciplines">дисциплины</a>
          </li>
          <li>
            <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
<div class="title-block">
  <h4>LIST OF TEAMS</h4>
</div>
<div class="admin-block">
  <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/team/create">Добавить </a>
</div>
<div class="main-block">

  <div class="two-block">
    <div th:if="${teams}" th:each="team : ${teams}" class="block">
      <p><b th:text="${team.title}"></b> <span th:text="${team.description}"></span></p>

      <!--form th:action="@{/team/{id}(id=${team.id})}" method="get">
        <input type="submit" th:value="'Подробнее'"/>
      </form-->

      <form th:action="@{/team/info/{team_id}(team_id=${team.id})}" method="get">
        <input type="submit" th:value="'Подробнее'"/>
      </form>

      <form th:action="@{/team/{team_id}/findUser(team_id=${team.id})}" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <input type="submit" th:value="'Добавить участников'"/>
      </form>
    </div>
  </div>
</div>
</body>
</html>