<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<div class="main-block">
    <div th:object="${team}">
        <table>
            <tr>
                <td>Название:</td>
                <td><p th:text="*{title}"></p></td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td><p th:text="*{description}"></p></td>
            </tr>
            <tr>
                <td>Количество участников:</td>
                <td><p th:text="*{quantity}"></p></td>
            </tr>
        </table>
    </div>
    <p>Список участников команды: </p>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <tr th:each="participant : ${participants}" th:object="${participants}">
            <td th:text="${participant.user.id}"></td>
            <td th:text="${participant.user.name}"></td>
            <td th:text="${participant.user.email}"></td>
        </tr>
    </table>

</div>
</body>
</html>