<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/team/index">Команды</a>
                </li>
                <li>
                    <a href="/training/list">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournament/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="main-block">

    <form th:object="${object}" th:action="@{/bookedTraining/add}" method="post">
        <input type="hidden"  th:field="*{id}"/>
        <input type="hidden"  th:attr="name='training'" th:value="${training.id}"/>
        <table>
            <tr>
                <td>ID:</td>
                <td th:utext="${training.id}">...</td>
            </tr>
            <tr>
                <td>Описание:</td>
                <td th:utext="${training.description}">...</td>
            </tr>
            <tr>
                <td>Локация:</td>
                <td th:utext="${training.location}">...</td>
            </tr>
            <tr>
                <td>Дата:</td>
                <td th:utext="${training.date}">...</td>
            </tr>
            <tr>
                <td>Время:</td>
                <td th:utext="${training.time}">...</td>
            </tr>
            <tr>
                <td>Длительность:</td>
                <td th:utext="${training.duration}">...</td>
            </tr>
            <tr>
                <td><button type="submit">Записаться</button></td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>