<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/"><img src="/img/logo1.png" class="logo"></a>
        <div class="navbar">
            <nav>
                <ul>
                    <li>
                        <a href="/other/about">о нас</a>
                    </li>
                    <li>
                        <a href="/team/index">команды</a>
                    </li>
                    <li>
                        <a href="/training/list">тренировки</a>
                    </li>
                    <li>
                        <a href="/news/list">новости</a>
                    </li>
                    <li>
                        <a href="/tournament/list">турниры</a>
                    </li>
                    <li>
                        <a href="/other/disciplines">дисциплины</a>
                    </li>
                    <li>
                        <a href="/profile"><img src="/img/dog.png" class="profile_icon"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
    <div class="main-block">
        <form th:action="@{/training/create}" method="post" enctype="multipart/form-data">
            Описание: <input type="text" th:name="description"/><br><br>
            Локация: <input type="text" th:name="location"/><br><br>
            Дата: <input type="date" th:name="date"/><br><br>
            Время: <input type="time" th:name="time"/><br><br>
            Длительность (в часах): <input type="number" th:name="duration"/><br><br>
            <input type="submit" value="Опубликовать"/>
        </form>
        <form th:action="@{/}" method="get">
            <input type="submit" value="Вернуться назад"/>
        </form>
    </div>
</div>

</body>
</html>