<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>НОВОСТИ</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="head">
    <div class="nav">
        <nav>
            <ul>
                <li>
                    <a href="/"><img src="/img/home-icon.png"></a>
                </li>
                <li>
                    <a href="/other/about">О нас</a>
                </li>
                <li>
                    <a href="/team/index">Команды</a>
                </li>
                <li>
                    <a href="/training/list">Тренировки</a>
                </li>
                <li>
                    <a href="/news/list">Новости</a>
                </li>
                <li>
                    <a href="/tournament/list">Турниры</a>
                </li>
                <li>
                    <a href="/other/disciplines">Дисциплины</a>
                </li>
                <li>
                    <a href="/profile"><img src="/img/profile.png"></a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="title-block">
    <h4>LIST OF TRAININGS</h4>
</div>
<div class="admin-block">
    <a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/training/create">Добавить </a>
</div>
<div class="main-block">

    <div class="two-block">
        <div th:if="${training}" th:each="training : ${training}" class="block">
            <p><b th:text="${training.description}"></b></p>
            <p><span th:text="${training.location}"></span></p>
            <p> <b th:text="${training.date}"></b> <span th:text="${training.time}"></span></p>
            <p>Длительность (в часах):<p th:text="${training.duration}"></p></p>
            <form th:action="@{/training/delete/{id}(id=${training.id})}" method="post">
                <input sec:authorize="hasAuthority('ROLE_ADMIN')" type="submit" value="Удалить"/>

            </form>
            <form th:action="@{'/bookedTraining/new/' + ${training.id}}" method="get">
                <input sec:authorize="hasAuthority('ROLE_USER')" type="submit" th:value="'Записаться'"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>